attrs==23.2.0
beautifulsoup4==4.12.3
cattrs==23.2.3
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
exceptiongroup==1.2.1
idna==3.7
lxml==5.2.1
platformdirs==4.2.1
requests==2.31.0
requests-cache==1.0.0
six==1.16.0
soupsieve==2.5
tqdm==4.66.4
typing_extensions==4.11.0
url-normalize==1.4.3
urllib3==2.2.1

prettytable~=3.10.0